In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
pip install tensorflow-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-text
  Downloading tensorflow_text-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 16.1 MB/s
Collecting tensorflow<2.12,>=2.11.0
  Downloading tensorflow-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (588.3 MB)
     |████████████████████████████████| 588.3 MB 20 kB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-text) (0.12.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.28.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (14.0.6)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (4.4.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.1.1)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-22.12.6-py2.py3-none-any.whl (26 kB)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.0-py3-none-any.whl (6.0 MB)
     |████████████████████████████████| 6.0 MB 68.2 MB/s
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.51.1)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (57.4.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.21.6)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     |████████████████████████████████| 439 kB 76.6 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (21.3)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 61.5 MB/s
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.6.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.1.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.19.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.38.4)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.15.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.23.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.2.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2022.12.7)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, flatbuffers, tensorflow, tensorflow-text
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.9.0
    Uninstalling tensorflow-estimator-2.9.0:
      Successfully uninstalled tensorflow-estimator-2.9.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.9.1
    Uninstalling tensorboard-2.9.1:
      Successfully uninstalled tensorboard-2.9.1
  Attempting uninstall: keras
    Found existing installation: keras 2.9.0
    Uninstalling keras-2.9.0:
      Successfully uninstalled keras-2.9.0
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 1.12
    Uninstalling flatbuffers-1.12:
      Successfully uninstalled flatbuffers-1.12
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.9.2
    Uninstalling tensorflow-2.9.2:
      Successfully uninstalled tensorflow-2.9.2
Successfully installed flatbuffers-22.12.6 keras-2.11.0 tensorboard-2.11.0 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-text-2.11.0

In [4]:
pip install tensorflow-hub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-hub in /usr/local/lib/python3.8/dist-packages (0.12.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-hub) (3.19.6)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-hub) (1.21.6)

In [5]:
import tensorflow_hub as hub
import tensorflow_text as text

In [6]:
import tensorflow as tf

In [7]:
import json
with open('/content/drive/MyDrive/Convolve IITG/train.json','r') as f:
    data=json.load(f)
    
train = pd.DataFrame({'Label':data})

In [8]:
train

                                                       Label
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
...                                                      ...
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal

[4152659 rows x 1 columns]

In [9]:
arr1=np.array(train.index)
arr2=np.array(train['Label'])
train=pd.DataFrame()
train['Log']=arr1
train['Label']=arr2
train

                                                       Log     Label
0         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
1         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
2         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
3         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
4         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
...                                                    ...       ...
4152654  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152655  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152656  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152657  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152658  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[4152659 rows x 2 columns]

In [10]:
train['Label'].value_counts()

normal      4082967
abnormal      69692
Name: Label, dtype: int64

In [11]:
train_abnormal = train[train['Label']=='abnormal']
train_abnormal

                                                       Log     Label
4082967  1117869872 2005.06.04 R04-M1-N4-I:J18-U01 2005...  abnormal
4082968  1117869872 2005.06.04 R04-M1-N4-I:J18-U11 2005...  abnormal
4082969  1117869872 2005.06.04 R23-M1-N8-I:J18-U11 2005...  abnormal
4082970  1117869873 2005.06.04 R22-M1-N8-I:J18-U01 2005...  abnormal
4082971  1117869873 2005.06.04 R22-M1-N8-I:J18-U11 2005...  abnormal
...                                                    ...       ...
4152654  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152655  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152656  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152657  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152658  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[69692 rows x 2 columns]

In [12]:
train_abnormal_downsampled = train_abnormal.sample(69692)

In [13]:
train_normal = train[train['Label']=='normal']
train_normal.shape

(4082967, 2)

In [14]:
#train_normal_downsampled = train_normal.sample(train_abnormal.shape[0])
train_normal_downsampled = train_normal.sample(95000)
train_normal_downsampled.shape

(95000, 2)

In [15]:
def func(x):
    count_space=0
    index=0
    for i in range(len(x)):
        if x[i]==' ':
            count_space = count_space+1
        if count_space==6:
            index=i;
            break
    return x[index+1:]

In [16]:
train_balanced = pd.concat([train_normal_downsampled, train_abnormal_downsampled])
train_balanced

                                                       Log     Label
129496    1118080754 2005.06.06 R02-M1-N0-C:J12-U11 200...    normal
3238010   1128124626 2005.09.30 R23-M0-N8-C:J15-U11 200...    normal
81155     1117985736 2005.06.05 R10-M1-N7-C:J03-U11 200...    normal
924706    1120094525 2005.06.29 R14-M1-ND-C:J04-U01 200...    normal
3734017   1131148272 2005.11.04 R63-M0-N9-C:J15-U11 200...    normal
...                                                    ...       ...
4107617  1118538603 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4142503  1118543912 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4150123  1118545120 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4096402  1118537016 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4117235  1118540015 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[164692 rows x 2 columns]

In [17]:
arr1=np.array(train_balanced['Log'])
arr1

array([' 1118080754 2005.06.06 R02-M1-N0-C:J12-U11 2005-06-06-10.59.14.316526 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n',
       ' 1128124626 2005.09.30 R23-M0-N8-C:J15-U11 2005-09-30-16.57.06.438341 R23-M0-N8-C:J15-U11 RAS KERNEL INFO CE sym 6, at 0x0148b640, mask 0x10\n',
       ' 1117985736 2005.06.05 R10-M1-N7-C:J03-U11 2005-06-05-08.35.36.949396 R10-M1-N7-C:J03-U11 RAS KERNEL INFO generating core.315\n',
       ...,
       '1118545120 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-19.58.40.746454 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt',
       '1118537016 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.43.36.785193 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt',
       '1118540015 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.33.35.029913 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt'],
      dtype=object)

In [18]:
for i in range(train_balanced.shape[0]):
    arr1[i]=func(arr1[i])
arr1

array(['RAS KERNEL INFO instruction cache parity error corrected\n',
       'RAS KERNEL INFO CE sym 6, at 0x0148b640, mask 0x10\n',
       'RAS KERNEL INFO generating core.315\n', ...,
       'KERNEL FATAL data TLB error interrupt',
       'KERNEL FATAL data TLB error interrupt',
       'KERNEL FATAL data TLB error interrupt'], dtype=object)

In [19]:
train_balanced['Log']=arr1
train_balanced

                                                       Log     Label
129496   RAS KERNEL INFO instruction cache parity error...    normal
3238010  RAS KERNEL INFO CE sym 6, at 0x0148b640, mask ...    normal
81155                RAS KERNEL INFO generating core.315\n    normal
924706   RAS KERNEL INFO 344040 double-hummer alignment...    normal
3734017       RAS KERNEL INFO iar 00106568 dear 0246b81c\n    normal
...                                                    ...       ...
4107617              KERNEL FATAL data TLB error interrupt  abnormal
4142503              KERNEL FATAL data TLB error interrupt  abnormal
4150123              KERNEL FATAL data TLB error interrupt  abnormal
4096402              KERNEL FATAL data TLB error interrupt  abnormal
4117235              KERNEL FATAL data TLB error interrupt  abnormal

[164692 rows x 2 columns]

In [20]:
from sklearn.utils import shuffle
shuffle(train_balanced, random_state=0)

                                                       Log     Label
3980034  RAS KERNEL INFO ciod: Received signal 15, code...    normal
4084051  APP FATAL ciod: failed to read message prefix ...  abnormal
2173697             RAS KERNEL INFO generating core.7718\n    normal
3835122  RAS KERNEL INFO 1170854 floating point alignme...    normal
4151570              KERNEL FATAL data TLB error interrupt  abnormal
...                                                    ...       ...
4144358              KERNEL FATAL data TLB error interrupt  abnormal
4100302              KERNEL FATAL data TLB error interrupt  abnormal
4111250              KERNEL FATAL data TLB error interrupt  abnormal
4099914              KERNEL FATAL data TLB error interrupt  abnormal
1755175             RAS KERNEL INFO generating core.2448\n    normal

[164692 rows x 2 columns]

In [21]:
#train_balanced.reset_index(inplace=True)
#train_balanced

In [22]:
train_balanced['normal']=train_balanced['Label'].apply(lambda x:1 if x=='normal' else 0)
train_balanced.sample(5)

                                            Log     Label  normal
4123085   KERNEL FATAL data TLB error interrupt  abnormal       0
4085524   KERNEL FATAL data TLB error interrupt  abnormal       0
1258616  RAS KERNEL INFO generating core.9847\n    normal       1
4128059   KERNEL FATAL data TLB error interrupt  abnormal       0
980005   RAS KERNEL INFO generating core.2990\n    normal       1

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_balanced['Log'],train_balanced['normal'],stratify=train_balanced['normal'])

In [24]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.

In [25]:
#Layers
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)

normalizer = tf.keras.layers.Normalization(axis=-1)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
#l = tf.keras.layers.Dense(200, activation = 'relu')(l)
#l = tf.keras.layers.Dense(50, activation = 'relu')(l)
l = tf.keras.layers.Dense(15, activation = 'tanh')(l)
l = tf.keras.layers.Dense(5, activation = 'tanh')(l)
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

# Use inputs and outputs to construct a final model
model = tf.keras.Model(inputs=[text_input], outputs = [l])

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/autograph/pyct/static_analysis/liveness.py:83: Analyzer.lamba_check (from tensorflow.python.autograph.pyct.static_analysis.liveness) is deprecated and will be removed after 2023-09-23.
Instructions for updating:
Lambda fuctions will be no more assumed to be used in the statement where they are used, or at least in the same block. https://github.com/tensorflow/tensorflow/issues/56089

In [26]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_mask': (Non  0           ['text[0][0]']
                                e, 128),
                                 'input_type_ids':
                                (None, 128),
                                 'input_word_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'encoder_outputs':  109482241   ['keras_layer[0][0]',
                                 [(None, 128, 768),               'keras_layer[0][1]',
                                 (None, 128, 768),                'keras_layer[0][2]']
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'default': (None,
                                768),
                                 'sequence_output':
                                 (None, 128, 768),
                                 'pooled_output': (
                                None, 768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 dense (Dense)                  (None, 15)           11535       ['dropout[0][0]']

 dense_1 (Dense)                (None, 5)            80          ['dense[0][0]']

 output (Dense)                 (None, 1)            6           ['dense_1[0][0]']

==================================================================================================
Total params: 109,493,862
Trainable params: 11,621
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

In [27]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [28]:
from tensorflow import keras

In [29]:
model.fit(X_train, y_train, epochs=1)

3860/3860 [==============================] - 1275s 327ms/step - loss: 0.0537 - accuracy: 0.9877 - precision: 0.9810 - recall: 0.9980

In [30]:
#this is to save the model weights and checkouot
#model.save_weights('./kaggle/working/convolve_model_weights')

In [31]:
#model.save_weights('./kaggle/working/convolve_model_weights')

In [32]:
model.evaluate(X_test, y_test)

1287/1287 [==============================] - 425s 329ms/step - loss: 0.0035 - accuracy: 0.9996 - precision: 1.0000 - recall: 0.9993

[0.003463099244982004,
 0.9995627999305725,
 0.9999578595161438,
 0.9992842078208923]

In [33]:
ypre=model.predict(X_test)

1287/1287 [==============================] - 418s 324ms/step

In [34]:
ypre = ypre.flatten()
ypre = np.where(ypre > 0.5, 1, 0)
ypre

array([1, 1, 0, ..., 1, 0, 1])

In [35]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, ypre)
cm

array([[17422,     1],
       [   17, 23733]])

In [36]:
test_data=pd.read_csv("/content/drive/MyDrive/Convolve IITG/test.csv")
test_data

            ID                                                Log
0            0   1124336301 2005.08.17 R13-M1-N8-C:J12-U01 200...
1            1   1118553175 2005.06.11 R30-M0-N9-C:J16-U01 200...
2            2   1118536033 2005.06.11 R30-M0-N9-C:J16-U01 200...
3            3   1117992566 2005.06.05 R30-M1-N6-C:J03-U11 200...
4            4   1118538965 2005.06.11 R30-M0-N9-C:J16-U01 200...
...        ...                                                ...
595295  595295   1118768234 2005.06.14 R20-M0-NA-C:J17-U11 200...
595296  595296   1118370947 2005.06.09 R15-M0-NA-C:J02-U01 200...
595297  595297   1118540242 2005.06.11 R30-M0-N9-C:J16-U01 200...
595298  595298   1118538947 2005.06.11 R30-M0-N9-C:J16-U01 200...
595299  595299   1118165805 2005.06.07 R23-M1-N5-C:J16-U11 200...

[595300 rows x 2 columns]

In [37]:
X_test1 = np.array(test_data[' Log'])
len(X_test1)

595300

In [38]:
for i in range(test_data.shape[0]):
    X_test1[i]=func(X_test1[i])
X_test1

array(['RAS KERNEL FATAL rts: kernel terminated for reason 1001\n',
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL FATAL data TLB error interrupt\n', ...,
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL INFO generating core.680\n'], dtype=object)

In [39]:
test_data[' Log']=X_test1
test_data

            ID                                                Log
0            0  RAS KERNEL FATAL rts: kernel terminated for re...
1            1        RAS KERNEL FATAL data TLB error interrupt\n
2            2        RAS KERNEL FATAL data TLB error interrupt\n
3            3             RAS KERNEL INFO generating core.6463\n
4            4        RAS KERNEL FATAL data TLB error interrupt\n
...        ...                                                ...
595295  595295  RAS KERNEL FATAL exception syndrome register: ...
595296  595296            RAS KERNEL INFO generating core.10895\n
595297  595297        RAS KERNEL FATAL data TLB error interrupt\n
595298  595298        RAS KERNEL FATAL data TLB error interrupt\n
595299  595299              RAS KERNEL INFO generating core.680\n

[595300 rows x 2 columns]

In [40]:
predictions = model.predict(X_test1)

18604/18604 [==============================] - 6126s 329ms/step

In [41]:
y_predicted = predictions.flatten()
y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([0, 0, 0, ..., 0, 0, 1])

In [42]:
len(y_predicted)

595300

In [43]:
submission=pd.read_csv('/content/drive/MyDrive/Convolve IITG/sample_submission.csv')
submission

            ID   Label
0            0  normal
1            1  normal
2            2  normal
3            3  normal
4            4  normal
...        ...     ...
595295  595295  normal
595296  595296  normal
595297  595297  normal
595298  595298  normal
595299  595299  normal

[595300 rows x 2 columns]

In [44]:
submission['Label']=y_predicted

In [45]:
submission

            ID   Label  Label
0            0  normal      0
1            1  normal      0
2            2  normal      0
3            3  normal      1
4            4  normal      0
...        ...     ...    ...
595295  595295  normal      1
595296  595296  normal      1
595297  595297  normal      0
595298  595298  normal      0
595299  595299  normal      1

[595300 rows x 3 columns]

In [46]:
submission.columns

Index(['ID', ' Label', 'Label'], dtype='object')

In [47]:
submission.drop(' Label',axis=1,inplace=True)
submission

            ID  Label
0            0      0
1            1      0
2            2      0
3            3      1
4            4      0
...        ...    ...
595295  595295      1
595296  595296      1
595297  595297      0
595298  595298      0
595299  595299      1

[595300 rows x 2 columns]

In [48]:
submission['Label']=submission['Label'].apply(lambda x: 'normal' if x==1 else 'abnormal')
submission

            ID     Label
0            0  abnormal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [49]:
submission.rename(columns = {'Label':' Label'}, inplace = True)
submission

            ID     Label
0            0  abnormal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [50]:
submission[' Label'].value_counts()

normal      353633
abnormal    241667
Name:  Label, dtype: int64

In [52]:
submission.to_csv('submission_clean.csv',index=False)