In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
pip install tensorflow-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-text
  Downloading tensorflow_text-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 6.6 MB/s
Collecting tensorflow<2.12,>=2.11.0
  Downloading tensorflow-2.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (588.3 MB)
     |████████████████████████████████| 588.3 MB 19 kB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-text) (0.12.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.21.6)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (2.1.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (57.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (21.3)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (14.0.6)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.1.0)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     |████████████████████████████████| 439 kB 67.8 MB/s
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (4.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.51.1)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.28.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.19.6)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.6.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (1.14.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.0)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 66.7 MB/s
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.0-py3-none-any.whl (6.0 MB)
     |████████████████████████████████| 6.0 MB 49.7 MB/s
Collecting flatbuffers>=2.0
  Downloading flatbuffers-22.12.6-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.38.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.23.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.15.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.4.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.6.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (5.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow<2.12,>=2.11.0->tensorflow-text) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, flatbuffers, tensorflow, tensorflow-text
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.9.0
    Uninstalling tensorflow-estimator-2.9.0:
      Successfully uninstalled tensorflow-estimator-2.9.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.9.1
    Uninstalling tensorboard-2.9.1:
      Successfully uninstalled tensorboard-2.9.1
  Attempting uninstall: keras
    Found existing installation: keras 2.9.0
    Uninstalling keras-2.9.0:
      Successfully uninstalled keras-2.9.0
  Attempting uninstall: flatbuffers
    Found existing installation: flatbuffers 1.12
    Uninstalling flatbuffers-1.12:
      Successfully uninstalled flatbuffers-1.12
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.9.2
    Uninstalling tensorflow-2.9.2:
      Successfully uninstalled tensorflow-2.9.2
Successfully installed flatbuffers-22.12.6 keras-2.11.0 tensorboard-2.11.0 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-text-2.11.0

In [4]:
pip install tensorflow-hub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-hub in /usr/local/lib/python3.8/dist-packages (0.12.0)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-hub) (3.19.6)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-hub) (1.21.6)

In [5]:
import tensorflow_hub as hub
import tensorflow_text as text

In [6]:
import tensorflow as tf

In [7]:
import json
with open('/content/drive/MyDrive/Convolve IITG/train.json','r') as f:
    data=json.load(f)
    
train = pd.DataFrame({'Label':data})

In [8]:
more_ab_data=pd.read_csv("/content/drive/MyDrive/Convolve IITG/more_abnomal.csv")
more_ab_data.drop('ID',axis=1,inplace=True)
more_ab_data
more_ab_data.rename(columns = {' Log':'Log'}, inplace = True)

In [9]:
train

                                                       Label
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...    normal
...                                                      ...
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal

[4152659 rows x 1 columns]

In [10]:
arr1=np.array(train.index)
arr2=np.array(train['Label'])
train=pd.DataFrame()
train['Log']=arr1
train['Label']=arr2
train

                                                       Log     Label
0         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
1         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
2         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
3         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
4         1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...    normal
...                                                    ...       ...
4152654  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152655  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152656  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152657  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152658  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[4152659 rows x 2 columns]

In [11]:
train['Label'].value_counts()

normal      4082967
abnormal      69692
Name: Label, dtype: int64

In [12]:
train_abnormal = train[train['Label']=='abnormal']
train_abnormal

                                                       Log     Label
4082967  1117869872 2005.06.04 R04-M1-N4-I:J18-U01 2005...  abnormal
4082968  1117869872 2005.06.04 R04-M1-N4-I:J18-U11 2005...  abnormal
4082969  1117869872 2005.06.04 R23-M1-N8-I:J18-U11 2005...  abnormal
4082970  1117869873 2005.06.04 R22-M1-N8-I:J18-U01 2005...  abnormal
4082971  1117869873 2005.06.04 R22-M1-N8-I:J18-U11 2005...  abnormal
...                                                    ...       ...
4152654  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152655  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152656  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152657  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4152658  1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[69692 rows x 2 columns]

In [13]:
train_abnormal_downsampled = train_abnormal.sample(69692)
train_abnormal_downsampled.columns

Index(['Log', 'Label'], dtype='object')

In [14]:
train_normal = train[train['Label']=='normal']
train_normal.shape

(4082967, 2)

In [15]:
#train_normal_downsampled = train_normal.sample(train_abnormal.shape[0])
train_normal_downsampled = train_normal.sample(500000)
train_normal_downsampled.columns

Index(['Log', 'Label'], dtype='object')

In [16]:
def func(x):
    count_space=0
    index=0
    for i in range(len(x)):
        if x[i]==' ':
            count_space = count_space+1
        if count_space==6:
            index=i;
            break
    return x[index+1:]

In [17]:
train_balance= pd.concat([train_normal_downsampled, train_abnormal_downsampled])
train_balance

                                                       Log     Label
3290438   1129291958 2005.10.14 R55-M1-N8-I:J18-U11 200...    normal
1603325   1120955590 2005.07.09 R21-M0-N9-C:J02-U01 200...    normal
3891294   1132013582 2005.11.14 R06-M0-NB-C:J16-U01 200...    normal
1828958   1121256467 2005.07.13 R26-M1-NF-C:J03-U11 200...    normal
1435618   1120932800 2005.07.09 R26-M1-N6-C:J15-U01 200...    normal
...                                                    ...       ...
4139142  1118543395 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4136659  1118542977 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4149699  1118545048 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4105413  1118538288 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal
4100282  1118537564 2005.06.11 R30-M0-N9-C:J16-U01 2005...  abnormal

[569692 rows x 2 columns]

In [18]:
train_balanced = pd.concat([train_balance, more_ab_data])
train_balanced

                                                       Log     Label
3290438   1129291958 2005.10.14 R55-M1-N8-I:J18-U11 200...    normal
1603325   1120955590 2005.07.09 R21-M0-N9-C:J02-U01 200...    normal
3891294   1132013582 2005.11.14 R06-M0-NB-C:J16-U01 200...    normal
1828958   1121256467 2005.07.13 R26-M1-NF-C:J03-U11 200...    normal
1435618   1120932800 2005.07.09 R26-M1-N6-C:J15-U01 200...    normal
...                                                    ...       ...
241662    1118557772 2005.06.11 R30-M0-N9-C:J16-U01 200...  abnormal
241663    1118544349 2005.06.11 R30-M0-N9-C:J16-U01 200...  abnormal
241664    1118765638 2005.06.14 R13-M0-N0-C:J15-U01 200...  abnormal
241665    1118540242 2005.06.11 R30-M0-N9-C:J16-U01 200...  abnormal
241666    1118538947 2005.06.11 R30-M0-N9-C:J16-U01 200...  abnormal

[811359 rows x 2 columns]

In [19]:
arr1=np.array(train_balanced['Log'])
arr1

array([' 1129291958 2005.10.14 R55-M1-N8-I:J18-U11 2005-10-14-05.12.38.988285 R55-M1-N8-I:J18-U11 RAS APP FATAL ciod: Error loading /bgl/apps/followup/RAPTOR/raptor.254.noprint: invalid or missing program image, Permission denied\n',
       ' 1120955590 2005.07.09 R21-M0-N9-C:J02-U01 2005-07-09-17.33.10.220484 R21-M0-N9-C:J02-U01 RAS KERNEL INFO generating core.11787\n',
       ' 1132013582 2005.11.14 R06-M0-NB-C:J16-U01 2005-11-14-16.13.02.880662 R06-M0-NB-C:J16-U01 RAS KERNEL INFO CE sym 22, at 0x009c14e0, mask 0x20\n',
       ...,
       ' 1118765638 2005.06.14 R13-M0-N0-C:J15-U01 2005-06-14-09.13.58.497129 R13-M0-N0-C:J15-U01 RAS KERNEL FATAL data storage interrupt\n',
       ' 1118540242 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.37.22.743936 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n',
       ' 1118538947 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-18.15.47.247097 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt\n'],
      dtype=object)

In [20]:
for i in range(train_balanced.shape[0]):
    arr1[i]=func(arr1[i])
arr1

array(['RAS APP FATAL ciod: Error loading /bgl/apps/followup/RAPTOR/raptor.254.noprint: invalid or missing program image, Permission denied\n',
       'RAS KERNEL INFO generating core.11787\n',
       'RAS KERNEL INFO CE sym 22, at 0x009c14e0, mask 0x20\n', ...,
       'RAS KERNEL FATAL data storage interrupt\n',
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL FATAL data TLB error interrupt\n'], dtype=object)

In [21]:
train_balanced['Log']=arr1
train_balanced

                                                       Log     Label
3290438  RAS APP FATAL ciod: Error loading /bgl/apps/fo...    normal
1603325            RAS KERNEL INFO generating core.11787\n    normal
3891294  RAS KERNEL INFO CE sym 22, at 0x009c14e0, mask...    normal
1828958             RAS KERNEL INFO generating core.1659\n    normal
1435618            RAS KERNEL INFO generating core.34524\n    normal
...                                                    ...       ...
241662         RAS KERNEL FATAL data TLB error interrupt\n  abnormal
241663         RAS KERNEL FATAL data TLB error interrupt\n  abnormal
241664           RAS KERNEL FATAL data storage interrupt\n  abnormal
241665         RAS KERNEL FATAL data TLB error interrupt\n  abnormal
241666         RAS KERNEL FATAL data TLB error interrupt\n  abnormal

[811359 rows x 2 columns]

In [22]:
from sklearn.utils import shuffle
shuffle(train_balanced, random_state=0)

                                                       Log     Label
12617          RAS KERNEL FATAL data TLB error interrupt\n  abnormal
4139814              KERNEL FATAL data TLB error interrupt  abnormal
60153          RAS KERNEL FATAL data TLB error interrupt\n  abnormal
39286          RAS KERNEL FATAL data TLB error interrupt\n  abnormal
37463    RAS APP FATAL ciod: failed to read message pre...  abnormal
...                                                    ...       ...
1167088             RAS KERNEL INFO generating core.5461\n    normal
740908             RAS KERNEL INFO generating core.30073\n    normal
3209169  RAS KERNEL INFO CE sym 12, at 0x0cbca9e0, mask...    normal
276365   RAS KERNEL FATAL instruction address: 0x00004e...    normal
2492449            RAS KERNEL INFO generating core.21582\n    normal

[811359 rows x 2 columns]

In [23]:
#train_balanced.reset_index(inplace=True)
#train_balanced

In [24]:
train_balanced['normal']=train_balanced['Label'].apply(lambda x:1 if x=='normal' else 0)
train_balanced.sample(5)

                                                  Log     Label  normal
2489630       RAS KERNEL INFO generating core.32682\n    normal       1
32778     RAS KERNEL FATAL data TLB error interrupt\n  abnormal       0
3470073  RAS KERNEL INFO iar 00106210 dear 0244c20c\n    normal       1
1328605        RAS KERNEL INFO generating core.4477\n    normal       1
794421        RAS KERNEL INFO generating core.11890\n    normal       1

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_balanced['Log'],train_balanced['normal'],stratify=train_balanced['normal'])

In [26]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.

In [27]:
#Layers
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)

normalizer = tf.keras.layers.Normalization(axis=-1)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
#l = tf.keras.layers.Dense(200, activation = 'relu')(l)
#l = tf.keras.layers.Dense(50, activation = 'relu')(l)
l = tf.keras.layers.Dense(15, activation = 'tanh')(l)
l = tf.keras.layers.Dense(5, activation = 'tanh')(l)
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

# Use inputs and outputs to construct a final model
model = tf.keras.Model(inputs=[text_input], outputs = [l])

WARNING:tensorflow:From /usr/local/lib/python3.8/dist-packages/tensorflow/python/autograph/pyct/static_analysis/liveness.py:83: Analyzer.lamba_check (from tensorflow.python.autograph.pyct.static_analysis.liveness) is deprecated and will be removed after 2023-09-23.
Instructions for updating:
Lambda fuctions will be no more assumed to be used in the statement where they are used, or at least in the same block. https://github.com/tensorflow/tensorflow/issues/56089

In [28]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_word_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_type_ids':
                                (None, 128),
                                 'input_mask': (Non
                                e, 128)}

 keras_layer_1 (KerasLayer)     {'sequence_output':  109482241   ['keras_layer[0][0]',
                                 (None, 128, 768),                'keras_layer[0][1]',
                                 'pooled_output': (               'keras_layer[0][2]']
                                None, 768),
                                 'encoder_outputs':
                                 [(None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'default': (None,
                                768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 dense (Dense)                  (None, 15)           11535       ['dropout[0][0]']

 dense_1 (Dense)                (None, 5)            80          ['dense[0][0]']

 output (Dense)                 (None, 1)            6           ['dense_1[0][0]']

==================================================================================================
Total params: 109,493,862
Trainable params: 11,621
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

In [29]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [30]:
from tensorflow import keras

In [31]:
model.fit(X_train, y_train, epochs=1)

19017/19017 [==============================] - 6229s 327ms/step - loss: 0.0118 - accuracy: 0.9967 - precision: 0.9969 - recall: 0.9977

In [32]:
#this is to save the model weights and checkouot
#model.save_weights('./kaggle/working/convolve_model_weights')

In [33]:
#model.save_weights('./kaggle/working/convolve_model_weights')

In [34]:
model.evaluate(X_test, y_test)

6339/6339 [==============================] - 2063s 325ms/step - loss: 0.0029 - accuracy: 0.9993 - precision: 1.0000 - recall: 0.9988

[0.002877894090488553,
 0.9992604851722717,
 0.9999839663505554,
 0.9988160133361816]

In [35]:
ypre=model.predict(X_test)

6339/6339 [==============================] - 2039s 322ms/step

In [36]:
ypre = ypre.flatten()
ypre = np.where(ypre > 0.5, 1, 0)
ypre

array([0, 1, 1, ..., 1, 1, 1])

In [37]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, ypre)
cm

array([[ 77838,      2],
       [   148, 124852]])

In [38]:
test_data=pd.read_csv("/content/drive/MyDrive/Convolve IITG/test.csv")
test_data

            ID                                                Log
0            0   1124336301 2005.08.17 R13-M1-N8-C:J12-U01 200...
1            1   1118553175 2005.06.11 R30-M0-N9-C:J16-U01 200...
2            2   1118536033 2005.06.11 R30-M0-N9-C:J16-U01 200...
3            3   1117992566 2005.06.05 R30-M1-N6-C:J03-U11 200...
4            4   1118538965 2005.06.11 R30-M0-N9-C:J16-U01 200...
...        ...                                                ...
595295  595295   1118768234 2005.06.14 R20-M0-NA-C:J17-U11 200...
595296  595296   1118370947 2005.06.09 R15-M0-NA-C:J02-U01 200...
595297  595297   1118540242 2005.06.11 R30-M0-N9-C:J16-U01 200...
595298  595298   1118538947 2005.06.11 R30-M0-N9-C:J16-U01 200...
595299  595299   1118165805 2005.06.07 R23-M1-N5-C:J16-U11 200...

[595300 rows x 2 columns]

In [39]:
X_test1 = np.array(test_data[' Log'])
len(X_test1)

595300

In [40]:
for i in range(test_data.shape[0]):
    X_test1[i]=func(X_test1[i])
X_test1

array(['RAS KERNEL FATAL rts: kernel terminated for reason 1001\n',
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL FATAL data TLB error interrupt\n', ...,
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL FATAL data TLB error interrupt\n',
       'RAS KERNEL INFO generating core.680\n'], dtype=object)

In [41]:
test_data[' Log']=X_test1
test_data

            ID                                                Log
0            0  RAS KERNEL FATAL rts: kernel terminated for re...
1            1        RAS KERNEL FATAL data TLB error interrupt\n
2            2        RAS KERNEL FATAL data TLB error interrupt\n
3            3             RAS KERNEL INFO generating core.6463\n
4            4        RAS KERNEL FATAL data TLB error interrupt\n
...        ...                                                ...
595295  595295  RAS KERNEL FATAL exception syndrome register: ...
595296  595296            RAS KERNEL INFO generating core.10895\n
595297  595297        RAS KERNEL FATAL data TLB error interrupt\n
595298  595298        RAS KERNEL FATAL data TLB error interrupt\n
595299  595299              RAS KERNEL INFO generating core.680\n

[595300 rows x 2 columns]

In [42]:
predictions = model.predict(X_test1)

18604/18604 [==============================] - 5990s 322ms/step

In [43]:
y_predicted = predictions.flatten()
y_predicted = np.where(y_predicted > 0.5, 1, 0)
y_predicted

array([0, 0, 0, ..., 0, 0, 1])

In [44]:
len(y_predicted)

595300

In [45]:
submission=pd.read_csv('/content/drive/MyDrive/Convolve IITG/sample_submission.csv')
submission

            ID   Label
0            0  normal
1            1  normal
2            2  normal
3            3  normal
4            4  normal
...        ...     ...
595295  595295  normal
595296  595296  normal
595297  595297  normal
595298  595298  normal
595299  595299  normal

[595300 rows x 2 columns]

In [46]:
submission['Label']=y_predicted

In [47]:
submission

            ID   Label  Label
0            0  normal      0
1            1  normal      0
2            2  normal      0
3            3  normal      1
4            4  normal      0
...        ...     ...    ...
595295  595295  normal      1
595296  595296  normal      1
595297  595297  normal      0
595298  595298  normal      0
595299  595299  normal      1

[595300 rows x 3 columns]

In [48]:
submission.columns

Index(['ID', ' Label', 'Label'], dtype='object')

In [49]:
submission.drop(' Label',axis=1,inplace=True)
submission

            ID  Label
0            0      0
1            1      0
2            2      0
3            3      1
4            4      0
...        ...    ...
595295  595295      1
595296  595296      1
595297  595297      0
595298  595298      0
595299  595299      1

[595300 rows x 2 columns]

In [50]:
submission['Label']=submission['Label'].apply(lambda x: 'normal' if x==1 else 'abnormal')
submission

            ID     Label
0            0  abnormal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [51]:
submission.rename(columns = {'Label':' Label'}, inplace = True)
submission

            ID     Label
0            0  abnormal
1            1  abnormal
2            2  abnormal
3            3    normal
4            4  abnormal
...        ...       ...
595295  595295    normal
595296  595296    normal
595297  595297  abnormal
595298  595298  abnormal
595299  595299    normal

[595300 rows x 2 columns]

In [52]:
submission[' Label'].value_counts()

normal      350334
abnormal    244966
Name:  Label, dtype: int64

In [53]:
submission.to_csv('/content/drive/MyDrive/Convolve IITG/submission_with_more_abnormal.csv',index=False)